<div class="products-section">
  <br/>

  <h2 class="section-title">✨ Recommended ✨</h2>

  <div class="products">
    @for (product of products; track product.productName) {
      <div class="card">
        <img [src]="product.image" alt="product" />
        <h3>{{ product.productName }}</h3>
        <p>{{ product.productPrice | currency }}</p>
        <p *ngIf="product.onSale" class="sale-badge">On Sale!</p>
      </div>
    }
    @empty {
      <p>No products on sale at the moment.</p>
    }
  </div>
</div>
